REACT_APP_SERVER="http://localhost:3002"
REACT_APP_LVN="" // need to be linked to the Vonage Application
REACT_APP_TTS_VOICES_LIST="https://raw.githubusercontent.com/nexmo-community/vapi-tts-voices/main/voices.json"
REACT_APP_VIDS_JWT_SAMPLE=""