APP_URL =  // need to be publicly accessible 


API_ACCOUNT_ID = 
API_SECRET = 
API_PRIVATE_KEY = "private.key" // path to private key in your local machine
API_APPLICATION_ID =  // Vonage Application


REACT_APP_LVN =  // need to be linked to the Vonage Application
REACT_APP_TTS_VOICES_LIST = "https://raw.githubusercontent.com/nexmo-community/vapi-tts-voices/main/voices.json"
