APP_URL =  // need to be publicly accessible 

API_ACCOUNT_ID = 
API_SECRET = 
API_PRIVATE_KEY = "private.key" // path to private key in your local machine
API_APPLICATION_ID =  // Vonage Application
