project:
    name: premium-tts
instance:
    name: dev
    runtime: nodejs16
    region: aws.use1
    application-id: {{your-application-id}}
    environment:
        - name: VONAGE_NUMBER
          value: "44700000000"
    capabilities: ["voice"]
    entrypoint:
        - npm
        - run
        - prod
debug:
    name: 0
    entrypoint:
        - npm
        - run
        - debug
