project:
    name: {your-neru-project-name}
instance:
    name: dev
    runtime: nodejs16
    region: aws.use1
    application-id: {your-application-id}
    configurations:
        test: ok
    secrets:
        - API_SECRET
    capabilities:
        - voice
    entrypoint:
        - node
        - index.js
debug:
    name: training
    entrypoint:
        - nodemon
        - --inspect
        - index.js
